@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
@using System.Data;
@model DataTable;
<h5><i class=""></i> All Categories </h5>
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="AdminCategories" asp-controller="AdminCategories" asp-action="Admin_Categories">Categories</a></li>
        @*<li class="breadcrumb-item active">Dashboard</li>*@
    </ol>
</nav>
<hr />
<div class="section" style="background-color:white; height:100%;padding:20px;box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);">
    <h5><i class="fa-solid fa-gears"></i> Categories </h5>
        
        <table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>CategoryID</th>
            <th>CategoryName</th>
            <th>ProductCount</th>
            <th>Discription</th>
            <th>CreatedAt</th>
            <th>ModifiedAt</th>
            <th>isDeleted</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>

    <tbody id="sample_2">
        @foreach (DataRow obj in Model.Rows)
        {
            <tr>
                <td>@obj["CategoryID"]</td>
                <td>@obj["CategoryName"]</td>
                <td>@obj["ProductCount"]</td>
                <td>@obj["Discription"]</td>
                <td>@Convert.ToDateTime(obj["CreatedAt"]).ToString("dd-MM-yyyy")</td>
                <td>@Convert.ToDateTime(obj["ModifiedAt"]).ToString("dd-MM-yyyy")</td>
                <td>@obj["IsDeleted"]</td>
                <td>
                        <form method="post" asp-controller="AdminCategories" asp-action="DeleteCategoryTemporary">
                        <input type="hidden" name="CategoryID" value="@Convert.ToInt32(obj["CategoryID"])" />
                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                    </form>
                </td>
                <td>
                        <form method="get" asp-controller="AdminCategories" asp-action="Add_Edit_Category">
                        <input type="hidden" name="CategoryID" value="@Convert.ToInt32(obj["CategoryID"])">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-pen-to-square"></i></button>
                       </form>
                </td>
            </tr>
        }
    </tbody>
</table>
    </div>
